Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-braces-around-statements,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file